tools/harvester-forwarding/logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Until": {
                        "actions": {
                            "Delay": {
                                "inputs": {
                                    "interval": {
                                        "count": 1,
                                        "unit": "Minute"
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Wait"
                            },
                            "HTTP": {
                                "inputs": {
                                    "method": "GET",
                                    "uri": "https://clearlydefined-api-dev.azurewebsites.net/definitions/@{encodeUriComponent(items('For_each'))}"
                                },
                                "type": "Http"
                            },
                            "Parse_JSON": {
                                "inputs": {
                                    "content": "@body('HTTP')",
                                    "schema": {
                                        "properties": {
                                            "described": {
                                                "properties": {
                                                    "tools": {
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "HTTP": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson"
                            }
                        },
                        "expression": "@contains(body('Parse_JSON')?['described'], 'tools')",
                        "limit": {
                            "timeout": "PT1H"
                        },
                        "type": "Until"
                    }
                },
                "foreach": "@body('Parse_Function_Response')",
                "runAfter": {
                    "Parse_Function_Response": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 50
                    }
                },
                "type": "Foreach"
            },
            "Get_Recent_Definitions": {
                "inputs": {
                    "authentication": {
                        "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "queries": {
                        "days": "1",
                        "limit": "1"
                    },
                    "uri": "https://cosmos-query-function-app.azurewebsites.net/api/getRecentDefinitions"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Parse_Function_Response": {
                "inputs": {
                    "content": "@body('Get_Recent_Definitions')",
                    "schema": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Get_Recent_Definitions": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {},
                        "required": [],
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {}
        }
    }
}